body {
    background: firebrick url("img/1-usa_flag.jpg") no-repeat;
    background-size: cover;
    font-size: 16px;
    margin: 1em;
    padding: 1em;
    text-align: center;
}

main {
    background: antiquewhite;
    margin: 0 auto;
    opacity: 80%;
    padding-bottom: 10em;
    width: 85em;
}

h1 {
    color: navy;
    font-family: "Abril Fatface", serif;
    font-size: 4em;
    padding: .5em 1em;
}

p {
    padding-top: 2em;
}

#cards {
    display: grid;
    font-family: "Oxygen", sans-serif;
    font-weight: bold;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    margin: 0 6em;
}

.card {
    aspect-ratio: 1;
    position: relative;
    transition: 2s ease;
    transform-style: preserve-3d;
}

.front, .back {
    align-items: center;
    backface-visibility: hidden;
    border: 1px solid black;
    border-radius: .5em;
    color: white;
    font-size: 1.75em;
    height: 100%;
    justify-content: center;
    margin: 0;
    position: absolute;
    width: 100%;
}

.front {
    background: firebrick;
}

.back {
    background: navy;
}

.card:hover, .back {
    transform: rotateY(180deg);
}
